<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/docentes/agregar" method="post">
                        <div class="form group">
                            <h2>Agregar Docente</h2>
                        </div>
                        <label for="">Nombre</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="nombre_docente" id="">
                        </div>
                        <label for="">Edad</label>
                        <div class="form-group">
                            <input class="form-control"  type="text" name="edad" id="">
                        </div>
                        <label for="">Correo</label>
                         <div class="form-group">
                            <input class="form-control" type="text" name="correo" id="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success btn-block">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>        

   

