<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/docentes/agregar">Docentes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/estudiante/agregar">Esudiantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/materia/agregar">Materia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/notas/agregar">Notas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/periodo_academico/agregar">periodo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
  </li>
</ul>